.grid {
  display: flex;
  flex-direction: column;
  /*border: 2px solid red;*/
  position: relative;
  font-family: var(--font);
  margin-top: 2%;
}

.mainTitle {
  color: #252323;
  font-family: var(--font);
  font-size: 2.5em;
  font-weight: normal;
  justify-self: center;
  text-align: center;
  margin: 0;
}

.secondTitle {
  color: #d5573b;
  font-family: var(--font);
  font-size: 2.1em;
  font-weight: normal;
  justify-self: center;
  text-align: center;
  margin-bottom: 3%;
}

.button {
  border-style: none;
  min-width: 13%;
  max-width: 13%;
  min-height: 4vw;
  max-height: 4vw;
  border-radius: 40px;
  background-color: #f7ca13;
  font-size: 1.4vw;
  color: #252323;
  transition: all 0.5s ease-out;
  cursor:  url("../../../assets/cursors/hoverCursor.png"),auto;
  align-self: center;
  margin-top: 3%;
  box-shadow: -1px 0px 34px -11px rgba(0, 0, 0, 0.87);
  display: flex;
  justify-content: center;
}
.button a {
  color: black;
  text-decoration: none;
  font-size: 1.4vw;
  align-self: center;
}
.button:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-out;
}

.button p {
  font-family: var(--font);
  width: fit-content;
  align-self: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.thirdTitle {
  color: #252323;
  font-family: var(--font);
  font-size: 2.3em;
  font-weight: normal;
  justify-self: center;
  text-align: center;
  margin-top: 5%;
}

.servicesCards {
  min-width: 95%;
  max-width: 95%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  justify-items: center;
  align-items: stretch;
  margin: 0 auto;

}

@media screen and (max-width: 1000px) {
  .servicesCards {
    min-width: 85%;
    max-width: 85%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    justify-items: center;
  }
  .button {
    min-width: 20%;
    max-width: 20%;
    min-height: 7vw;
    max-height: 7vw;
  }
  .button a {
    font-size: 2.1vw;
  }
}

@media only screen and (max-width: 700px) {
  .grid {
    margin-top: 10%;
  }
  .button {

    min-height: 8vw;
    max-height: 8vw;
  }
  .button a {
    font-size: 2.5vw;
  }
}

@media only screen and (max-width: 600px) {
  .grid {
    margin-top: 10%;
  }
  .button {
    min-height: 9.8vw;
    max-height: 9.8vw;
  }
  .button a {
    font-size: 2.8vw;
  }

}

@media only screen and (max-width: 450px) {
  .grid {
    margin-top: 10%;
  }
}
@media only screen and (max-width: 420px) {
  .grid {
    margin-top: 20%;
  }
  .button {
    min-height: 11.8vw;
    max-height: 11.8vw;
    min-width: 25%;
    max-width: 25%;
  }
  .button a {
    font-size: 3.5vw;
  }
}
