.grid {
  display: flex;
  flex-direction: column;
  /*border: 2px solid red;*/
  position: relative;
  top: -7%;
  margin-bottom: 3%;
}
.grid:before {
  content: "";
  position: absolute;
  bottom: -5%;
  min-height: 220vh;
  min-width: 100%;
  max-width: 100%;
  z-index: -1;
  background: url("../../../assets/images/Services/backgroundPackServices.svg") no-repeat top left;
  background-size: cover;

}

.mainTitle {
  color: var(--title-color);
  font-family: var(--font);
  font-size: 2.5em;
  font-weight: normal;
  justify-self: center;
  text-align: center;
  margin: 0;
}

.secondTitle {
  color: var(--secondary-title-color);
  font-family: var(--font);
  font-size: 2.3em;
  font-weight: normal;
  justify-self: center;
  text-align: center;
}

.button {
  border-style: none;
  min-width: 13%;
  max-width: 13%;
  min-height: 40%;
  max-height: 40%;
  border-radius: 40px;
  background-color: #f7ca13;
  font-size: 1.4vw;
  color: black;
  transition: all 0.5s ease-out;
  cursor: pointer;
  align-self: center;
  margin-top: 3%;
  box-shadow: -1px 0px 34px -11px rgba(0, 0, 0, 0.87);
}
.button:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-out;
}

.button p {
  font-family: var(--font);
  width: fit-content;
  align-self: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.thirdTitle {
  color: #ebebeb;
  font-family: var(--font);
  font-size: 2.3em;
  font-weight: normal;
  justify-self: center;
  text-align: center;
  margin-top: 5%;
}

.servicesCards {
  min-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  justify-items: center;
  align-items: stretch;
}

@media screen and (max-width: 1000px) {
  .servicesCards {
    min-width: 90%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    justify-items: center;
  }
  .button {
    min-width: 20%;
    max-width: 20%;
    min-height: 30%;
    max-height: 30%;
    font-size: 2.1vw;

  }
  .grid:before {
    bottom: -5%;
    min-height: 390vh;
  }

}
@media only screen and (max-width: 800px) {
  .grid:before {
    bottom: -5%;
    min-height: 400vh;
  }
}
@media only screen and (max-width: 700px) {
  .grid {
    margin-top: 10%;
  }
  .grid:before {
    bottom: -5%;
    min-height: 400vh;
  }
}

@media only screen and (max-width: 600px) {
  .button {
    font-size: 3vw;
    min-width: 28%;
    max-width: 28%;

  }

  .grid {
    margin-top: 10%;
  }


  .button {
    font-size: 3vw;
    min-width: 25%;
    max-width: 25%;
    min-height: 30%;
    max-height: 30%;

  }
}

@media only screen and (max-width: 515px) {
  .grid:before {
    bottom: -5%;
    min-height: 370vh;
  }
}
@media only screen and (max-width: 450px) {
  .grid {
    margin-top: 10%;
  }
  .grid:before {
    bottom: -5%;
    min-height: 420vh;
  }
}
@media only screen and (max-width: 420px) {
  .grid {
    margin-top: 20%;
  }
}
@media (max-width: 700px) and (orientation: landscape) {
  /* Style adjustments for portrait mode goes here */
  .grid:before {
    bottom: -5%;
    min-height: 430vh;
  }

}

