/*Fuente Nunito*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

/* 'Didact Gothic', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

/*
'Be Vietnam', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400&display=swap');

body,
html {
  height: 100% !important;
  margin: 0 !important;
}

html {
  background: #efefda;
}
::selection {
  color: black;
  background: #c85c23;
}


p {
  cursor: pointer;
}
a {
  cursor: pointer;;
}
:root {
  --font:'Be Vietnam', sans-serif;
  --title-color: #090909;
  --secondary-title-color: #3d80b2;
  --select-opt-menu-color: #e23237;
  --text-color: #090909;
  --desktop-text-size: 3vw;
  --desktop-line-height: 3.5vw;
  --perfect-box-shadow: -1px 0px 34px -11px rgba(0, 0, 0, 1);
  --responsive-font-size: clamp(1.3rem, 2vw, 1.6rem);
  --mobile-line-height: 6vw;
}

.backgroundAboutMe {
  background: url("../../assets/images/AboutMe/background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: visible;

}
.backgroundLanding {
  background: url("../../assets/images/Landing/LandingWaves.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: visible;
  min-height: 100vh;

}
.backgroundServices {
  background: url("../../assets/images/Services/backgroundPackServices.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: visible;

}

.backgroundContact {
  background: url("../../assets/images/Contact/background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: visible;

}

.projectsGrid {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "image title";


}
.image {
  grid-area: image;
  transform: scale(.65);
}
.titleBox {
  display: flex;
}
.titleProject {
  grid-area: title;
  font-family: var(--font);
  margin: 0 auto;
  font-size: 5vw;
  color: #292f39;
  align-self: center;
}

@media only screen and (max-width: 700px) {
  .projectsGrid {
    grid-template-columns: 1fr;
    grid-template-rows: .3fr .5fr;
    grid-template-areas:
            "title"
            "image"
  ;
    margin-top: 5%;
  }

  .titleProject {
    font-size: 10vw;
    text-align: center;
  }
}
