
body, html {
    height: 100% !important;
    margin: 0 !important;
}

html {
   /* background: rgb(49,180,124);
    background: linear-gradient(90deg, rgba(49,180,124,0.6670869031206232) 4%, rgba(126,175,108,0.4429972672662815) 43%, rgba(0,236,255,0.2497199563419118) 74%);*/
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,0.4738095921962535) 0%, rgba(253,29,29,0.07885160900297616) 50%, rgba(252,176,69,0.38977597875087533) 100%);
}

:root {
    --font : Alef, serif;
    --title-color :#6762a6;
    --select-opt-menu-color : #833ab4;
    --text-color : #404137;
    --desktop-text-size : 3vh;
    --desktop-line-height : 6.5vh;
}