/*

Esta hoja de estilo contiene todos los estilos para Landing.
*/

.grid {
  display: grid;
  grid-template-columns: .2fr repeat(2,1fr) .5fr .5fr .5fr;
  grid-template-rows: .3fr .2fr repeat(4,.3fr);
  /*background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(191,219,237,0.725910432532388) 0%, rgba(0,212,255,0.6194678555015756) 100%);*/
  height: 100%;
  margin-top: -8%;
  grid-template-areas:
          " . . . . . . "
          " . . . . . . "
          ". title title title  . . "
          ". paragraph paragraph paragraph image . "
          ". button button . . . ";
}

.title {
  grid-area: title;
  color: var(--title-color);
  transition: transform 0.2s ease;

  /*font-size: 5.2vh;*/
  font-size: clamp(1.25rem, 3vw, 2.5rem);
  font-family: var(--font);
  font-weight: 650;
  word-spacing: 2px;
  text-align: left;
}

.paragraph {
  grid-area: paragraph;
  color: var(--text-color);
  font-size: var(--responsive-font-size);
  font-family: var(--font);
  line-height: var(--desktop-line-height);
  word-spacing: 0.8vh;
  text-align: left;
  white-space: break-spaces;
  position: relative;
  padding-right: 10%;
  transform: translateY(-8%);
}
.image {
  grid-area: image;
  overflow: visible;
  align-self: center;
  position: relative;
  transform: scale(2.1) translateY(-20%) translateX(5%);
}
.image img {

}
.button {
  grid-area: button;
  border-style: none;
  /*width: 25vh;*/
  /*height: 9vh;*/
  min-width: 25%;
  max-width: 25%;
  min-height: 70%;
  max-height: 70%;
  border-radius: 70px;
  background-color: #f7ca13;
  font-size: 1.6vw;
  color: black;
  transition: all 0.5s ease-out;
  cursor: pointer;
  justify-self: center;
  position: relative;
  box-shadow: var(--perfect-box-shadow);
  font-family: var(--font);
  display: flex;
}

.button:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-out;
}

.button p {
  font-family: var(--font);
  align-self: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}


@media only screen and (max-width: 1450px) {
  .image {
    transform: scale(2.1) translateY(-25%) translateX(5%);
  }
}
@media only screen and (max-width: 1300px) {
  .image {
    transform: scale(2.1) translateY(-25%) translateX(5%);
  }
}
@media only screen and (max-width: 1000px) {

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .8fr .1fr .2fr .2fr;
    grid-template-areas:
      "image"
      "title"
      "paragraph"
      "button";
    max-height: fit-content;
  }

  .title {
    text-align: center;
    position: relative;
    top: 7%;
  }
  .paragraph {
    text-align: center;
    padding: 0% 4% 0% 4%;
    line-height: var(--mobile-line-height);
  }
  .image {
    transform: scale(.7) translateY(15%);
  }
  .button {
    font-size: 3vw;
    min-width: 22%;
    max-width: 22%;
  }
  .button:hover {

  }
}

@media only screen and (max-width: 670px) {
  .button {
    font-size: 4vw;
    min-width: 28%;
    max-width: 28%;
  }
  .title {
    padding: 0% 3% 0% 3%;
  }
  .paragraph {
    position: relative;
    top: -5%;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: .9fr .1fr .1fr .2fr;
  }
}
@media only screen and (max-width: 375px) {
  .button {
    font-size: 4vw;
    min-width: 28%;
    max-width: 28%;
    position: relative;
    top: -35%;
  }
  .title {
    padding: 0% 1% 0% 1%;
  }
  .paragraph {
    position: relative;
    top: 1%;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: .8fr .1fr .1fr .2fr;
  }
}


