/*

Esta hoja de estilo contiene todos los estilos para Landing.
*/

.grid {
  display: grid;
  grid-template-columns: .2fr repeat(2,1fr) .5fr .5fr .5fr;
  grid-template-rows: .4fr .2fr repeat(4,.3fr);
  /*background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(191,219,237,0.725910432532388) 0%, rgba(0,212,255,0.6194678555015756) 100%);*/
  margin-top: -6%;
  grid-template-areas:
          " . . . . . . "
          " . . . . . . "
          ". title title title  . . "
          ". paragraph paragraph paragraph image . "
          ". button button . . . ";

}

.title {
  grid-area: title;
  color: var(--title-color);
  transition: transform 0.2s ease;
  font-size:  clamp(2vw, 2.5vw, 3vw);
  font-family: var(--font);
  font-weight: 650;
  word-spacing: 2px;
  text-align: left;
  padding: 0% 5% 0% 0%;
}

.paragraph {
  grid-area: paragraph;
  color: var(--text-color);
  font-size: var(--responsive-font-size);
  font-family: var(--font);
  line-height: var(--desktop-line-height);
  word-spacing: 0.2vw;
  text-align: left;
  white-space: break-spaces;
  position: relative;
  padding-right: 10%;
  transform: translateY(-8%);
}
.image {
  grid-area: image;
  overflow: visible;
  align-self: center;
  position: relative;
  /*transform: scale(2.1) translateY(-20%) translateX(5%);*/
  transform: scale(2.1) translateY(-20%) translateX(5%);
}

.button {
  grid-area: button;
  border-style: none;
  min-width: 25%;
  max-width: 25%;
  min-height: 70%;
  max-height: 70%;
  border-radius: 70px;
  background-color: #f7ca13;
  transition: all 0.5s ease-out;
  cursor:pointer;
  justify-self: center;
  position: relative;
  box-shadow: var(--perfect-box-shadow);
  font-family: var(--font);
  display: flex;
  justify-content: center;
}
.button a {
  color: black;
  text-decoration: none;
  font-size: clamp(1.3rem,2vw,1.8rem);
  align-self: center;


}

.button:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-out;
}

.button p {
  font-family: var(--font);
  align-self: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

}


@media only screen and (max-width: 1350px) {
  .image {
    transform: scale(2.1) translateY(-25%) translateX(5%);
  }
}
@media only screen and (max-width: 1300px) {
  .image {
    transform: scale(2.1) translateY(-25%) translateX(5%);
  }
}
@media only screen and (max-width: 1100px) {

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .8fr .1fr .2fr .2fr .1fr;
    grid-template-areas:
      "image"
      "title"
      "paragraph"
      "button";
    max-height: fit-content;
  }

  .title {
    text-align: center;
    position: relative;
    top: 10%;
    margin-top: 5%;
    font-size:  clamp(3.2vw, 3.4vw, 3.8vw);
    padding: 0% 8% 0% 8%;
  }
  .paragraph {
    text-align: center;
    padding: 0% 3% 0% 3%;
    line-height: var(--mobile-line-height);
    position: relative;
    top: 5%;
    font-size:  clamp(2vw, 2.2vw, 2.6vw);

  }
  .image {
    transform: scale(.75) translateY(15%);
  }
  .button {
    min-width: 20%;
    max-width: 20%;

  }
  .button a {
    /*font-size: 1.8vw;*/
  }
}

@media only screen and (max-width: 700px) {
  .button {
    min-width: 35%;
    max-width: 35%;
  }
  .button a {

  }
  .title {
    font-size:  clamp(3.6vw, 3.8vw, 4.2vw);
  }
  .paragraph {
    position: relative;
    font-size:  clamp(2vw, 2.8vw, 3vw);
  }

  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: .9fr .1fr .1fr .2fr;
    margin-top: 5%;
  }
}
@media only screen and (max-width: 450px) {
  .button {
    min-width: 40%;
    max-width: 40%;
  }
  .title {
    padding: 0% 1% 0% 1%;
  }
  .paragraph {
    position: relative;
    font-size:  clamp(2.6vw, 3.7vw, 4.2vw);
  }

  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: .8fr .1fr .1fr .2fr;
  }
}

@media (max-width: 700px) and (orientation: landscape) {
  /* Style adjustments for portrait mode goes here */
  .paragraph {
    line-height: 7.5vw;
  }
}


