:root {
  --backgroud-color: #bfdbed;
  --font: Alef, serif;
}

.header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr .5fr .5fr;
  grid-template-areas: "logo .  .  . menu .";
  min-width: fit-content;
  max-width: fit-content;
  /* background-color: var(--backgroud-color);*/
  /*border: 5px solid blue;*/
}

.menu {
  align-self: center;
  grid-area: menu;
}

.logo {
  /* border: 2px solid chartreuse;*/
  grid-area: logo;
  max-width: 85%;
  max-height: 85%;
  overflow: visible !important;
  position: relative;
  left: 22%;
  top: 10%;
}

/*
.logo::after {
    content: "SamuraiDev.";
    font-family: var(--font);
    font-size: 3.3vh;
    display: block;
    position: relative;
    top: -35%;
    left: 85%;
}*/
