:root {
  --backgroud-color: #bfdbed;
  --font: Alef, serif;
}

.header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr .45fr;
  grid-template-areas: "logo .  . menu menu .";
  min-width: 100%;
  max-width: 100%;
  /* background-color: var(--backgroud-color);*/
}

.menu {
  align-self: center;
  grid-area: menu;
  min-width: 100%;
  max-width: 100%;

}

.logo {
  /* border: 2px solid chartreuse;*/
  grid-area: logo;
  max-width: 10vw;
  max-height: 15vw;
  overflow: visible !important;
  position: relative;
  left: 22%;
  top: 5%;

}
@media only screen and (max-width: 1250px) {
  .menu {
    margin-left: -30%;
  }
  .logo {
    /* border: 2px solid chartreuse;*/
    grid-area: logo;
    max-width: 12vw;
    min-width: 12vw;
    max-height: 18vw;
    min-height: 18vw;
    overflow: visible !important;
    position: relative;
    left: 22%;
    top: 0%;

  }
}
@media only screen and (max-width: 1000px) {
  .logo {
    /* border: 2px solid chartreuse;*/
    grid-area: logo;
    max-width: 16vw;
    min-width: 16vw;
    max-height: 22vw;
    min-height: 22vw;
    overflow: visible !important;
    position: relative;
    left: 22%;
  }
}

@media only screen and (max-width: 700px) {

  .header {
    grid-template-columns: 1fr;
    grid-template-rows: .5fr .5fr;
    grid-template-areas:
            "logo"
            "menu";
    min-width: 100%;
    max-width: 100%;
    position: relative;
    transform: translateY(20%);
  }
  .logo {
    min-width: 40%;
    max-width: 40%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

  }
  .menu {
    min-width: 100%;
    max-width: 100%;
    margin: 0;
    justify-self: center;
    align-self: center;

  }

}

@media only screen and (max-width: 550px) {

}
@media only screen and (max-width: 420px) {
  .header {
    display: flex;
    flex-direction: column;
    min-width: 100%;
  }
  .logo {
    min-width: 30vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%) translateY(-10%);
  }
  .menu {
    min-width: 100%;
    max-width: 100%;
    margin: 0;
    justify-self: center;
    align-self: center;
    transform: translateY(-10%);
  }
}

@media (max-width: 700px) and (orientation: landscape) {
  .menu {
    transform: translateY(5%);
  }
}
