
.mainContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .1fr .8fr .8fr .4fr;
  grid-template-areas:
    "title"
    "paragraph"
    "image"
    "icon"
    " . "
;
}
.mainContainer:before {
  content: "";
  position: absolute;
  bottom: -70%;
  min-width: 100%;
  min-height: 160vh;
  z-index: -1;
  background: url("../../../assets/images/AboutMe/background.svg") no-repeat top left;
  background-size: cover;

}
.title {
  grid-area: title;
  color: #225d00;
  font-family: var(--font);
  font-size: 2.5em;
  font-weight: normal;
  text-align: center;
}
.paragraph {
  grid-area: paragraph;
  color: var(--text-color);
  font-family: var(--font);
  font-size: var(--responsive-font-size);
  text-align: center;
  padding: 0% 10% 0% 10%;
  line-height: var(--desktop-line-height);

}

.image {
  grid-area: image;
  align-self: center;
}

.icon {
  grid-area: icon;
  cursor: pointer;
  min-width: 5vw;
  max-width: 5vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);


}

@media only screen and (max-width: 1000px) {
  .mainContainer:before {
    bottom: -60%;
    min-width: 100%;
    min-height: 170vh;
  /*  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .1fr .8fr .5fr .4fr .2fr;
    grid-template-areas:
    "title"
    "paragraph"
    "image"
    "icon"
    " . ";*/
  }
  .icon {
    min-width: 8vw;
    max-width: 8vw;
    position: relative;
    top: 4%;
  }
  .title {
    text-align: center;
  }
  .paragraph {
    text-align: center;
    padding: 4% 4% 0% 4%;
    line-height: var(--mobile-line-height);
  }
  .image {
    padding: 0% 10% 0% 10%;

  }
}


@media only screen and (max-width: 750px) {
  .mainContainer {
    grid-template-rows: .1fr .8fr .3fr .4fr;
  }

  .mainContainer:before {
    bottom: -10%;
    min-height: 100vh;
  }

  .icon {
    min-width: 8vw;
    max-width: 8vw;
    position: relative;
    top: 4%;
  }
  .title {
    text-align: center;
  }
  .paragraph {
    text-align: center;
    padding: 4% 4% 0% 4%;
    line-height: var(--mobile-line-height);
  }
  .image {
    padding: 0% 10% 0% 10%;

  }
}

@media only screen and (max-width: 720px) {
  .mainContainer {
    gap: 0px;
    transform: translateY(5%);
  }


}
@media only screen and (max-width: 620px) {
  .mainContainer {
    grid-template-rows: .1fr .8fr .3fr .2fr;

  }

  .mainContainer:before {
    bottom: -5%;
    min-height: 110vh;
  }
}

@media only screen and (max-width: 465px) {
  .mainContainer {
    grid-template-rows: .1fr .4fr .3fr .1fr;
  }

  .mainContainer:before {
    bottom: -5%;
    min-height: 110vh;
  }
  .icon {
    min-width: 10vw;
    max-width: 10vw;
    position: relative;
    top: 4%;
  }
  .title {
    text-align: center;
  }
  .paragraph {
    text-align: center;
    padding: 4% 4% 0% 4%;
    line-height: 5vh;
    margin-top: -2%;
  }
  .image {
    padding: 0% 20% 0% 20%;
  }
}

@media only screen and (max-width: 365px) {
  .mainContainer {
    grid-template-rows: .1fr .4fr .3fr .1fr;
  }

  .mainContainer:before {
    bottom: -5%;
    min-height: 130vh;
  }

}
