.mainContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  min-width: 100%;
  position: relative;
  top: -7%;

  /*border: 1px solid red;*/
}
.title {
  color: var(--title-color);
  font-family: var(--font);
  font-size: 2.5em;
  font-weight: normal;
  justify-self: center;
  text-align: center;
}
.paragraph {
  color: var(--text-color);
  font-family: var(--font);
  font-size: var(--responsive-font-size);
  text-align: center;
  padding: 0% 10% 0% 10%;
  line-height: var(--desktop-line-height);
  position: relative;
}

.image {
  max-width: 60%;
  align-self: center;
  margin-top: 1%;
}

.icon {
  max-width: 3.3%;
  align-self: center;
  margin-top: 2%;
  margin-bottom: 5%;
  cursor: pointer;
}
