.mainContainer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    min-height: 100vh;
}

.contactContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
    gap: 40px;
    min-width: 100%;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 5%;
    font-weight: 250;
}

.personalCardInfoBox {
    flex-grow: 1;
    padding: 5% 5% 5% 5%;
    margin-left: 5%;
}
.image {
    flex-grow: 1;
    transform: scale(.6);
}

@media only screen and (max-width: 1000px) {

    .mainContainer {
        margin-top: -10%;
    }

    .personalCardInfoBox {
        padding: 0% 20% 20% 20%;
        margin-top: -15%;

    }
    .image {
        transform: scale(.5);
    }

    
}

@media only screen and (max-width: 450px) {

    .personalCardInfoBox {
        min-width: 65%;
        max-width: 65%;
    }
}

@media (max-width: 700px) and (orientation: landscape) {
    /* Style adjustments for portrait mode goes here */

}