

.navBarGrid {
  display: flex;
  /*    border: 2px solid blue;*/
  gap: 10%;
  flex-wrap: nowrap;
  justify-content: space-around;
  min-width: 100%;
}

.link {
  text-decoration: none;
  color: #090909;
  cursor: url("../../../../assets/cursors/hoverCursor.png"), auto;
  font-family: var(--font);
  max-width: fit-content;
  min-width: fit-content;
  text-shadow: 2px 1px 48px rgba(251, 228, 232, 0.88);
  font-size: clamp(1.3rem, 1.8vw, 1.4rem);
}
.link:after {
  content: "";
  display: block;
  background-color: var(--select-opt-menu-color);
  height: 3px;
  width: 70%;
  border-radius: 50px;
  opacity: 0;
  transform: scaleX(0);
  transition: all 0.5s ease;
  margin: auto;
}

.link:hover::after {
  opacity: 1;
  transform: scaleX(1.1);
}

@media only screen and (max-width: 700px) {
  .navBarGrid {
    gap: 5%;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .link {

  }
}

@media only screen and (max-width: 470px) {
  .navBarGrid {
    gap: 5%;

  }
  .link {
    padding: 0% 2.5% 5% 2.5%;
  }
}

@media (max-width: 700px) and (orientation: landscape) {
  /* Style adjustments for portrait mode goes here */
  .navBarGrid {
    padding: 0% 5% 0% 5%;
    gap: 20%;
    min-width: 100%;

  }
  .link {
    padding: 0% 0% 10% 0%;
  }
}

