:root {
    --backgroud-color: #bfdbed;
    --font: Alef, serif;
}

.navBarGrid {
    display: flex;
/*    border: 2px solid blue;*/
    gap: 10%;
    justify-content: center;
}

.navBarGrid p {
    /*    border: 1px dotted black ;*/
    cursor: pointer;
    font-family: var(--font);
    max-width: fit-content;
    min-width: fit-content;
    text-shadow: 2px 1px 48px rgba(251,228,232,0.88);
    font-size: clamp(1.1rem, 1.8vw, 1.2rem);


}

.navBarGrid p:after {
    content: "";
    display: block;
    background-color:  var(--select-opt-menu-color);
    height: 3px;
    width: 70%;
    border-radius: 10px;
    opacity: 0;
    transform: scaleX(0);
    transition: all 0.5s ease;
    margin: auto;
}

.navBarGrid p:hover::after {
    opacity: 1;
    transform: scaleX(1.1);

}

@media only screen and (max-width: 470px) {
    .navBarGrid {
        gap: 5%;
        padding: 0% 10% 0% 10%;
        padding: 0% 5% 0% 5%;
    }
    .navBarGrid p{

    }
}