.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
  padding: 0% 15% 0% 15%;
  transform: scale(.8);
}

.titleIconContainer {
  /*    border: 5px solid green;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  max-height: fit-content;
  min-height: fit-content;
  cursor:pointer;
  align-self: center;
  justify-self: center;
  min-width: 70%;
  max-width: 70%;
  gap: 15px;
}

.titleBox {
  max-height: 150px;
  min-height: 150px;
  background-color: #faf6f6;
  border-radius: 20px;
  padding: 7%;
  box-shadow: -1px 0px 34px -11px rgb(193, 165, 193);
  transition: all 0.5s ease-out;
  min-width: 100%;
  max-width: 100%;
  display: flex;
}

.titleBox:hover {
  transform: scale(1.1);
}

.serviceName {
  font-family: var(--font);
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  align-self: center;
  font-size:  clamp(25px, 27px, 30px);
  text-shadow: 1px 0px 20px rgba(39, 36, 38, 0.57);


}

.iconContainer {
  color: #d5573b;
  font-size: 2.5vw;
  cursor:pointer;
}

.invertIconContainer {
  font-size: 2.5vw;
  cursor:pointer;
  transform: rotate(180deg);
  position: relative;
}

.paragraph {
  grid-column: 1/4;
  font-family: var(--font);
  line-height: var(--desktop-line-height);
  font-size: clamp(19px, 24px, 24px);
  color: var(--text-color);
  text-align: center;
  justify-self: left;
  width: fit-content;
  display: inline;

}

@media only screen and (max-width: 1250px) {
  .titleIconContainer {
    transform: scale(1);
  }
  .serviceName {
    font-size:  clamp(23px, 24px, 28px);
  }

  .paragraph {
    line-height: var(--desktop-line-height);
  }
}

@media only screen and (max-width: 990px) {
  .titleIconContainer {
    transform: scale(1);
  }
  .serviceName {
    font-size:  clamp(20px, 20px, 24px);
  }
}
@media only screen and (max-width: 690px) {
  .titleIconContainer {
  }
  .serviceName {

  }

  .paragraph {
    line-height: var(--mobile-line-height);
  }

}
@media only screen and (max-width: 520px) {
  .titleIconContainer {
    transform: scale(1);
  }
  .serviceName {
  }
}


@media only screen and (max-width: 750px) {
  .grid {
    display: flex;
    flex-direction: column;
  }
  .titleIconContainer {
    grid-area: titleIcon;
    display: flex;
    flex-direction: column;
    margin: 2% 0% 2% 0%;
  }
  .titleBox {
    max-height: 90px;
    min-height: 90px;
    min-width: 50vw;
    max-width: 50vw;

  }

  .serviceName {
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
   text-shadow: none;
  }

  .iconContainer {
    position: relative;
    transform: translateY(-25%);
    font-size: 4vw;
  }
  .invertIconContainer {
    font-size: 4vw;
  }

  .paragraph {
    grid-area: paragraph;
    max-height: 800px;
    font-size: clamp(18px, 20px, 25px);
    padding: 0%;
    min-width: 160%;
  }



}
@media only screen and (max-width: 590px) {

  .serviceName {
    align-self: center;
    justify-self: center;
    margin: 0 auto;
  }

  .iconContainer {
    font-size: 150%;
    margin-top: 5%;
  }
  .invertIconContainer {
    font-size: 150%;
  }
}

@media (max-width: 700px) and (orientation: landscape) {
  /* Style adjustments for portrait mode goes here */
  .paragraph {
    line-height: 5.5vw;
  }
  .iconContainer {
    font-size: 150%;
    margin-top: 10%;
  }
}


