.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
  padding: 0% 15% 0% 15%;
}

.titleIconContainer {
  /*    border: 5px solid green;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  height: fit-content;
  cursor:  url("../../../../assets/cursors/hoverCursor.png"),auto;
  align-self: center;
  justify-self: center;
  min-width: 75%;
  max-width: 75%;
  gap: 15px;
}

.titleBox {
  min-height: 40%;
  max-height: 50%;
  background-color: #faf6f6;
  border-radius: 20px;
  padding: 7%;
  box-shadow: -1px 0px 34px -11px rgb(193, 165, 193);
  transition: all 0.5s ease-out;
  min-width: 100%;
  max-width: 100%;
}

.titleBox:hover {
  transform: scale(1.1);
}

.serviceName {
  font-family: var(--font);
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  align-self: center;
  font-size: 2.2vw;
  text-shadow: 1px 0px 20px rgba(39, 36, 38, 0.57);
}

.iconContainer {
  color: #d5573b;
  height: 60%;
  font-size: 2.5vw;
  cursor:  url("../../../../assets/cursors/hoverCursor.png"),auto;
}

.invertIconContainer {
  font-size: 2.5vw;
  cursor:  url("../../../../assets/cursors/hoverCursor.png"),auto;
  transform: rotate(180deg);
  position: relative;
}

.paragraph {
  grid-column: 1/4;
  font-family: var(--font);
  line-height: var(--desktop-line-height);
  /*font-size: 1.6vw;*/
  font-size: var(--responsive-font-size);
  color: var(--text-color);
  transition: all 1s ease;
  text-align: center;
  justify-self: left;
  width: fit-content;
}

@media only screen and (max-width: 1250px) {
  .titleIconContainer {
    transform: scale(1);
  }
  .serviceName {
  }

  .paragraph {
    line-height: var(--desktop-line-height);
  }
}

@media only screen and (max-width: 990px) {
  .titleIconContainer {
    transform: scale(1);
  }
  .serviceName {
  }
}
@media only screen and (max-width: 690px) {
  .titleIconContainer {
  }
  .serviceName {

  }

  .paragraph {
    line-height: var(--mobile-line-height);
  }

}
@media only screen and (max-width: 520px) {
  .titleIconContainer {
    transform: scale(1);
  }
  .serviceName {
  }
}


@media only screen and (max-width: 1000px) {
  .grid {
    display: flex;
    flex-direction: column;
  }
  .titleIconContainer {
    grid-area: titleIcon;
    display: flex;
    flex-direction: column;
    margin: 2% 0% 2% 0%;
  }
  .titleBox {
    min-height: 8vh;
    max-height: 8vh;
    min-width: 60%;
    max-width: 60%;
  }

  .iconContainer {
    position: relative;
    transform: translateY(-25%);
    font-size: 4vw;
  }
  .invertIconContainer {
    font-size: 4vw;
  }

  .paragraph {
    grid-area: paragraph;
    line-height: var(--mobile-line-height);
  }

  .serviceName {
    font-size: 2.3vw;
  }
}
@media only screen and (max-width: 590px) {

  .titleBox {
    min-width: 100%;
  }

  .serviceName {
    font-size: 100%;
  }
  .paragraph {
    line-height: 5.5vh;
  }

  .iconContainer {
    font-size: 150%;
  }
  .invertIconContainer {
    font-size: 150%;
  }
}

