.mainBoxLeft {
  /*border: 2px solid red;*/
  min-width: 100%;
  max-width: 100%;
  min-height: 200px;
  max-height: 200px;
  display: grid;
  grid-template-columns: .35fr 1fr;
  grid-template-rows: .2fr  .8fr .8fr 1fr 1fr;
  background-color: #f7db9b;
  cursor:  url("../../../../assets/cursors/hoverCursor.png"),auto;
  transform: scale(0.9);
  transition: all 0.5s ease-out;
  box-shadow: var(--perfect-box-shadow);
  border-radius: 10px;
  margin: 5%;
  grid-template-areas:
          "image title"
          "image description"
          "image iconBar"
           "image iconBar"
           "image iconBar";

;
}
.mainBoxLeft:hover {
  transform: scale(1);
}

.title {
  grid-area: title;
  min-width: 100%;
  align-self: stretch;
  font-family: var(--font);
  margin-left: 5%;
  font-size: clamp(1.2rem, 1.5vw,1.5rem);
}

.imageBox {
  grid-area: image;
  /*border: 2px solid blue;*/
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  background-color: #f7ca13;
  border-radius: 10px 0px 0px 10px;
  display: flex;

}
.image {
  grid-area: image;
  position: relative;
  margin: 0 auto;
  padding: 0% 3% 0% 3%;
}
.descriptionBox {
  grid-area: description;
  align-self: stretch;
  display: flex;
  position: relative;
  margin-top: -3%;
}
.description {
  grid-area: description;
  font-family: var(--font);
  font-size: clamp(1rem, 1.5vw,1.2rem);
  align-self: flex-start;
  margin-left: 2%;
  padding: 0% 3% 0% 3%;
  text-overflow: ellipsis;


}

.iconBar {
  grid-area: iconBar;
  justify-self: flex-start;
  align-self: center;
  margin-left: 5%;
  min-width: 80%;
  max-width: 90%;
}

@media only screen and (max-width: 470px) {
  .iconBar {
    position: relative;
    top: -20%;
  }
}
