.mainBoxLeft {
  /*border: 2px solid red;*/
  min-width: 85%;
  max-width: 85%;
  min-height: 10vw;
  max-height: 10vw;
  display: grid;
  grid-template-columns: .4fr 1fr;
  grid-template-rows: .2fr .6fr .8fr 1fr 1fr;
  background-color: #f7db9b;
  cursor: pointer;
  transition: all 0.3s ease-out;
  box-shadow: var(--perfect-box-shadow);
  border-radius: 10px;
  margin: 5%;
  grid-template-areas:
          "image title"
          "image description"
          "image iconBar"
           "image iconBar"
           "image iconBar";

;
}
.mainBoxLeft:hover {
  transform: scale(1.05);
}

.title {
  min-width: 100%;
  align-self: stretch;
  font-family: var(--font);
  margin-left: 5%;
  font-size: 1.5vw;
}

.imageBox {
  grid-area: image;
  /*border: 2px solid blue;*/
  max-width: 100%;
  min-width: 100%;
  min-height: 10vw;
  max-height: 10vw;
  background-color: #f1a63d;
  border-radius: 10px 0px 0px 10px;
  display: flex;


}
.image {
  grid-area: image;
  position: relative;
  margin: 0 auto;
  padding: 0% 3% 0% 3%;
}
.descriptionBox {
  display: flex;
  flex-direction: column;
  min-height: 9vw;
  max-height: 9vw;
}
.description {
  font-family: var(--font);
  font-size: 1.2vw;
  margin-left: 2%;
  padding: 0% 3% 0% 3%;
  position: relative;
  bottom: 20%;
}

.iconBar {
  min-width: 70%;
  max-width: 70%;
  position: relative;
  bottom: 20%;
  left: 5%;
}

@media only screen and (max-width: 1200px) {

  .mainBoxLeft, .imageBox {
    min-height: 12vw;
    max-height: 12vw;
  }

}

@media only screen and (max-width: 1000px) {

  .mainBoxLeft {
    transform: scale(.75);
  }
  .mainBoxLeft:hover {
    transform: scale(.80);
  }
  .mainBoxLeft, .imageBox {
    min-height: 23vw;
    max-height: 23vw;
  }

  .title {
    font-size: 2.2vw;
  }
  .description {
    font-size: 2.3vw;

  }
  .iconBar {
    position: relative;
    bottom: 15%;
  }
}
@media only screen and (max-width: 750px) {

  .mainBoxLeft {
    transform: scale(.9);
  }
  .mainBoxLeft:hover {
    transform: scale(.95);
  }

}

@media only screen and (max-width: 500px) {

  .mainBoxLeft {
    transform: scale(1);
  }
  .mainBoxLeft:hover {
    transform: scale(1.05);
  }

}

@media only screen and (max-width: 470px) {

  .mainBoxLeft, .imageBox {
    min-height: 5vw;
    max-height: 25vw;
  }

  .title {
    position: relative;
    bottom: 20%;
    font-size: 3vw;

  }

  .iconBar {
    position: relative;
    bottom: 70%;
  }
  .description {
    font-size: 3vw;
    position: relative;
    bottom: 60%;
  }
}


@media only screen and (max-width: 380px) {

  .title {
    position: relative;
    bottom: 20%;
    font-size: 3.6vw;

  }

  .description {
    font-size: 3.5vw;
    position: relative;
    bottom: 90%;
  }

  .iconBar {
    position: relative;
    bottom: 120%;
  }
}

