.mainBoxLeft {
  /*border: 2px solid red;*/
  min-width: 85%;
  max-width: 85%;
  min-height: 10vw;
  max-height: 10vw;
  display: grid;
  grid-template-columns: .4fr 1fr;
  grid-template-rows: .2fr .6fr .8fr 1fr 1fr;
  background-color: #f7db9b;
  cursor: pointer;
  transition: all 0.3s ease-out;
  box-shadow: var(--perfect-box-shadow);
  border-radius: 10px;
  margin: 5%;
  grid-template-areas:
          "image title"
          "image description"
          "image iconBar"
           "image iconBar"
           "image iconBar";

;
}
.mainBoxLeft:hover {
  transform: scale(1.05);
}

.title {
  min-width: 100%;
  align-self: stretch;
  font-family: var(--font);
  margin-left: 5%;
  font-size: clamp(19px, 22px, 24px);
}

.imageBox {
  grid-area: image;
  /*border: 2px solid blue;*/
  max-width: 100%;
  min-width: 100%;
  min-height: 10vw;
  max-height: 10vw;
  background-color: #f1a63d;
  border-radius: 10px 0px 0px 10px;
  display: flex;


}
.image {
  grid-area: image;
  position: relative;
  margin: 0 auto;
  padding: 0% 3% 0% 3%;
}
.descriptionBox {
  display: flex;
  flex-direction: column;
  min-height: 9vw;
  max-height: 9vw;
}
.description {
  font-family: var(--font);
  font-size: 1.22vw;
  margin-left: 2%;
  padding: 0% 3% 0% 3%;
  position: relative;
  bottom: 20%;
}

.iconBar {
  min-width: 70%;
  max-width: 70%;
  position: relative;
  bottom: 20%;
  left: 5%;
}

@media only screen and (max-width: 1300px) {

  .mainBoxLeft, .imageBox {
    min-height: 12vw;
    max-height: 12vw;
  }



}

@media only screen and (max-width: 1200px) {

  .mainBoxLeft, .imageBox {
    min-height: 23vw;
    max-height: 23vw;
  }

  .title {
    font-size: clamp(19px, 24px, 24px);
    margin-bottom: -0.1%;
  }
  .description {
    font-size: clamp(19px, 20px, 24px);

  }
  .iconBar {
    position: relative;

  }
}

@media only screen and (max-width: 750px) {

  .mainBoxLeft, .imageBox {
    min-height: 23vw;
    max-height: 23vw;
  }

  .title {
    font-size: clamp(19px, 24px, 24px);
    position: relative;
    bottom: 20%;
  }
  .description {
    font-size: clamp(19px, 20px, 24px);
    position: relative;
    bottom: 40%;
  }
  .iconBar {
    position: relative;
    bottom: 55%;
  }
}
@media only screen and (max-width: 655px) {
  .mainBoxLeft, .imageBox {
    min-height: 8vw;
    max-height: 25vw;
  }

  .title {
    position: relative;
    bottom: 20%;
    font-size: clamp(19px, 22px, 24px);

  }

  .iconBar {
    position: relative;
    bottom: 65%;
  }
  .description {

    position: relative;
    bottom: 55%;
  }
}
@media only screen and (max-width: 580px) {
  .mainBoxLeft, .imageBox {
    min-height: 8vw;
    max-height: 25vw;
  }

  .title {
    position: relative;
    bottom: 20%;

  }

  .iconBar {
    position: relative;
    bottom: 80%;
  }
  .description {
    font-size: 18px;
    position: relative;
    bottom: 55%;
  }
}



@media only screen and (max-width: 530px) {

  .mainBoxLeft, .imageBox {
    min-height: 30vw;
    max-height: 30vw;
    min-width: 100%;
    max-width: 100%;
  }


}
@media only screen and (max-width: 440px) {

  .mainBoxLeft, .imageBox {
    min-height: 33vw;
    max-height: 33vw;
    min-width: 100%;
    max-width: 100%;
  }

  .title {
    position: relative;
    bottom: 20%;
    font-size: clamp(19px, 20px, 24px);

  }

  .iconBar {
    position: relative;
    bottom: 90%;
  }
  .description {
    bottom: 60%;
    font-size: 16px;
  }
}

@media only screen and (max-width: 375px) {

  .mainBoxLeft, .imageBox {
    min-height: 33vw;
    max-height: 33vw;
    min-width: 100%;
    max-width: 100%;
  }

  .title {
    position: relative;
    bottom: 45%;
    font-size: clamp(19px, 17px, 24px);

  }

  .iconBar {
    position: relative;
    bottom: 100%;
  }
  .description {
    bottom: 80%;
    font-size: clamp(12px, 12px, 14px);
  }
}


